doctype html
html(lang="pt-br")
   block vars
   
   head
      meta(charset="UTF-8")
      meta(http-equiv="X-UA-Compatible", content="IE=edge")
      meta(name="viewport", content="width=device-width, initial-scale=1.0")

      if title
         - pipe = ''
      title #{title} #{pipe}

      //- use source styles directly in Pug
      link(href=require('../style/style.scss') rel='stylesheet')

   body( class = page )
      include ./includes/global/header

      main
         block content

      include ./includes/global/footer

      //- use source scripts directly in Pug, at last position in body
      script(src=require('../script/index.js') defer)