:root {
   --meas-0_24: 0.24rem;
   --meas-0_5: 0.5rem;
   --meas-0_75: 0.75rem;
   --meas-1: 1rem;
   --meas-2: 2rem;
   --meas-3: 3rem;
   --meas-4: 4rem;
   --meas-5: 5rem;
   --meas-6: 6rem;
   --meas-7: 7rem;
   --meas-8: 8rem;
   --meas-9: 9rem;
   --meas-10: 10rem;
}
